.forecast-card {
  width: 100%;
  max-width: 500px;
  padding: 1rem 0.8rem;

  border: 1px solid transparent;
  border-radius: 1rem;

  backdrop-filter: blur(0.5rem);
  box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.5);

  border-top-color: rgba(225, 225, 225, 0.8);
  border-right-color: rgba(225, 225, 225, 0.1);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-left-color: rgba(225, 225, 225, 0.8);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cb2 {
  color: black;
  background: linear-gradient(
    to right bottom,
    rgba(100, 100, 100, 0.3),
    rgba(125, 125, 125, 0.1)
  );
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.4rem 0.2rem;
}

.day {
  text-align: center;
  font-weight: bold;
}

span {
  font-size: 0.9rem;
}

.temp-min {
  color: var(--rusty-red);
}

.temp-max {
  color: #eac67a;
}

@media only screen and (min-width: 450px) {
  
  .forecast {
    margin: 0.8rem 0.6rem;
  }

  span {
    font-size: 1rem;
  }

}