.sun {
  width: 100%;
  max-width: 500px;
  padding: 1rem 1.1rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  border: 1px solid transparent;
  border-radius: 1rem;

  backdrop-filter: blur(0.5rem);
  box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.5);

  border-top-color: rgba(225, 225, 225, 0.8);
  border-right-color: rgba(225, 225, 225, 0.1);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-left-color: rgba(225, 225, 225, 0.8);
}

.cb2 {
  color: black;
  background: linear-gradient(
    to right bottom,
    rgba(100, 100, 100, 0.3),
    rgba(125, 125, 125, 0.1)
  );
}

/* .half-circle {
  align-self: center;
  width: 90px;
  height: 45px;
  margin-bottom: 0.5rem;

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 3px solid rgb(255, 166, 0);
  border-bottom: 0;
} */

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.time div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time div p {
    margin-bottom: 2%;
}

.time div p:first-of-type {
    color: gray;
    margin-bottom: 0.6rem;
}

.time div img {
  max-width: 150px;
  width: 60%;
  margin-top: 1rem;
}
