.main {
  width: 80%;
  margin: 0 auto;
}

.current-day {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid navy;
  border-radius: 25px;
  padding: 1.2rem 1.6rem;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.location {
  margin-bottom: 1.1rem;
}

.location .city {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1%;
}

.location .date {
  font-size: 0.9rem;
  color: gray;
  font-style: italic;
}

.temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.temperature .current-temperature {
  padding: 10px;
}

.temperature .current-temperature p {
  padding: 3px 0;
}

.date {
  font-style: italic;
}

.currTemp {
  font-size: 2.2rem;
}

.temperature .more-data {
  font-size: 0.9rem;
  color: gray;
  text-align: right;
}

@media only screen and (min-width: 481px) {
    .temperature {
        flex-direction: column;
    }

    .temperature .more-data {
        text-align: left;
    }
}
