.main {
  width: 80%;
  margin: 0 auto;
}

section {
  margin: 0 auto 2rem;
  max-width: 500px;
}

.card-outline {
  display: flex;
  justify-content: center;
}

.card {
  margin: 2rem;
  text-align: center;

  max-width: 500px;
  padding: 5rem 2.5rem;

  border-radius: 1rem;
  border: 1px solid transparent;

  backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

  border-top-color: rgba(225, 225, 225, 0.5);
  border-right-color: rgba(225, 225, 225, 0.1);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-left-color: rgba(225, 225, 225, 0.5);
}

.cb1 {
  background-color: rgba(225, 225, 225, 0.1);
}

.cb2 {
  color: black;
  background: linear-gradient(
    to right bottom,
    rgba(225, 225, 225, 0.5),
    rgba(225, 225, 225, 0.3)
  );
}

.card-number {
  color: rgba(225, 225, 225, 0.08);
  font-size: 8rem;
  font-weight: bold;
  z-index: -1;
  position: absolute;
  top: -1rem;
  right: 2.5rem;
}

.card-title {
  margin-bottom: 2rem;
}
