.main {
  width: 80%;
  margin: 0 auto;
}

section {
  margin: 0 auto 2rem;
  max-width: 500px;
}

.cb2 {
  color: black;
  background: linear-gradient(
    to right bottom,
    rgba(225, 225, 225, 0.5),
    rgba(225, 225, 225, 0.3)
  );
}

.card-number {
  color: rgba(225, 225, 225, 0.08);
  font-size: 8rem;
  font-weight: bold;
  z-index: -1;
  position: absolute;
  top: -1rem;
  right: 2.5rem;
}
