.search-bar {
    width: 80%;
    max-width: 500px;
    margin: 3rem auto 2rem;

    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;

    background-color: tra;

    outline: none;
    border: 1px solid black;

    border-radius: 1rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);

    border-top-color: rgba(225, 225, 225, 0.8);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.8);
}