.header {
  max-width: 600px;
  margin: 0 auto 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 3.3rem;
  font-weight: 900;
  color: var(--rusty-red);
  text-shadow: 2px 2px rgba(116, 59, 53, 0.5);
}

.nav ul {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
}

.nav ul li {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem auto;

  background-color: var(--rusty-red);
  font-weight: bold;

  border: 1px solid var(--rusty-red);
  border-radius: 15px;
  box-shadow: 2px 2px var(--rusty-red-shadow);
}

.nav ul li:hover {
  border-color: transparent;
  background-color: #703832;
  cursor: pointer;
  box-shadow: none;
}


a.active li {
  border-color: transparent;
  background-color: #703832;
  cursor: pointer;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }

  .nav ul li {
    margin: 0 0.5rem;
    width: 120px;
  }
}
