.header-container {
  width: 100%;
  background-color: #3c3c3c;
}

.header {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.header h1 {
  width: 80%;
  font-size: 3.3rem;
  margin: 0.8rem auto;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  align-items: center;
  text-align: center;
}

.nav ul li {
  width: 3rem;
  border: 1px solid #af473c;
  background-color: #af473c;
  padding: 1rem 1.4rem;
  width: 100%;
  margin: 0.5rem 1rem;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 2px 2px rgba(0, 0, 0, 1);
}

.nav ul li:hover {
  background-color: #81362e;
  cursor: pointer;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
  }

  .nav ul {
    flex-direction: row;
    justify-content: right;
    width: 300px;
  }
  .nav ul li {
    width: 80px;
  }
}
