* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "Mulish", Arial, Helvetica, sans-serif;
}

body {
  background-image: url(./assets/mountains.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  --cloud-blue: #9ec5be;
  --cloud-blue-shadow: rgba(225, 225, 225, 0.);
}